<!DOCTYPE html>
<html>
<head>
  <title>Tabla de datos de Control</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/style.css">
  <script src="/scripts.js"></script>
</head>
<body>
  <div class="container mt-5">
    <h2></h2>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <!--<th>Botónnn</th> -->
            <th>#VUELO</th>
            <!-- <th>PEA</th> -->
            <th>ORI/DES</th>
            <th>STATUS</th>
            <th>STA/STD</th>
            <!-- <th>ETA/ETD</th> -->
            <th>ATA</th> <!-- ata / atd-->
            <th>INI/FIN CABINA</th>
            <th>PRI/ULT BAG</th>
            <!-- <th>COD. DEMORAS</th> -->
          </tr>
        </thead>
        <tbody id="table-body">
          <!-- El contenido de la tabla se actualizará aquí -->
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal" id="miModal">
    <div class="modal-content" id="modalContent">
      <!-- Contenido del modal se generará dinámicamente aquí -->
      <button class="btn btn-secondary" onclick="cerrarModal()">Cerrar</button>
    </div>
  </div>

  <script></script>
</body>
</html>
