  /* Estilo para la celda que contiene el botón */
  .cell-with-button {
    position: relative;
  }

  .cell-with-button button {
    position: absolute;
    right: 5px; /* Ajusta este valor según desees el espacio desde el borde derecho asd*/
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px; /* Ajusta el padding según desees */
    font-size: 12px;
    border-radius: 50%;
    border: none; /* Remueve el borde del botón */
    cursor: pointer;
  }
  
/* Estilo para la celda que contiene el botón */
.cell-with-button {
  position: relative;
}

/* Estilo para el botón verde */
.cell-with-button .green-btn {
  background-color: green;
  color: white; /* Color del texto en el botón */
}

/* Estilo para el botón amarillo */
.cell-with-button .yellow-btn {
  background-color: yellow;
  color: black; /* Color del texto en el botón */
}

/* Estilo para el botón rojo */
.cell-with-button .red-btn {
  background-color: red;
  color: white; /* Color del texto en el botón */
}

.cell-with-button .transparent-btn {
  background-color: transparent;
  color: white; /* Color del texto en el botón */
}

  table, td {
    font-size: 13.5px;
  }

  /* Estilos adicionales */
  .hidden-column {
    display: none;
  }

  .hidden-data .hidden-column {
    display: table-cell;
  }

  th {
    font-weight: bold;
  }

  /* Estilo para el botón pequeño */
  .small-btn {
    padding: 5px 10px;
    font-size: 12px;
  }


/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 40%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el botón de cerrar */
.modal-content button {
  margin-top: 10px;
}

.modal-content p {
  margin-bottom: 10px;
}

